.ref__txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 85%;
}

@media screen and (max-width: 767px) {
  .ref__txt {
    font-size: 14px;
    line-height: 17px;
  }
}