.timetable__center {
  grid-area: cent;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {

  .timetable__center {
    bottom: 13px;
  }
}