.timetable__column-txt {
  margin: 0;
  color: #394A58;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  max-width: 60%;
}

@media screen and (max-width: 767px) {

  .timetable__column-txt {
    font-size: 14px;
    line-height: 17px;
  }
}