.disclosure__row {
  box-sizing: border-box;
  padding: 25px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: 700;
}

.disclosure__link {
  display: block;
  max-width: 85%;
}

.disclosure__row-title {
  max-width: 80%;
  margin: 0 0 5px;
  color: #000;
}

.disclosure__row-heading {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__row-heading:hover .disclosure__row-title {
  text-decoration: underline;
}

.disclosure__list-1 {
  margin-top: 10px;
  margin-left: 10px;
  transition: all .4s ease;
  display: none;
}

.disclosure__list-1-item {
  margin-bottom: 10px;
}

.disclosure__list-1-item-heading {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__list-1-item-heading:hover .disclosure__link {
  text-decoration: underline;
}

.disclosure__list-1_opened {
  display: block;
}

.disclosure__list-2-item-heading {
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__list-2-item-heading:hover .disclosure__link {
  text-decoration: underline;
}

.disclosure__list-2 {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.disclosure__list-2_opened {
  display: block;
}

.disclosure__list-2-item {
  margin-bottom: 10px;
}

.disclosure__list-3-item-heading {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__list-3-item-heading:hover .disclosure__link {
  text-decoration: underline;
}

.disclosure__list-3 {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.disclosure__list-3_opened {
  display: block;
}

.disclosure__list-3-item {
  margin-bottom: 10px;
}

.disclosure__list-4 {
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  display: none;
}

.disclosure__list-4_opened {
  display: block;
}

.disclosure__list-4-item {
  margin-bottom: 10px;
}

.disclosure__list-4-item:hover .disclosure__link {
  text-decoration: underline;
}


.disclosure__arrow {
  width: 24px;
  height: 24px;
  background: url(../images/icon__bottom-arrow_black.svg) no-repeat center;
  display: block;
  transition: all .4s ease;
  box-shadow: none;
}

.disclosure__arrow_opened {
  transform: rotate(180deg);
}