 .timetable {
   margin: 20px auto 64px;
   width: var(--wrapper-width);
 }

 .timetable__booklet {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin: 20px auto;
   width: 874px;
 }

 .timetable__column {
   width: 427px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .timetable__button {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   width: 100%;
   height: 48px;
   background: #394A58;
   color: #fff;
   border-radius: 10px;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
 }

 .timetable__column-list {
   width: 100%;
   height: 0;
   overflow: hidden;
   background-color: #fff;
   border-radius: 0 0 10px 10px;
   box-sizing: border-box;
   transition: all .4s ease;
   padding: 0 50px;
 }

 .timetable__column-list_opened {
   padding-top: 25px;
 }

 .timetable__column-item {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-bottom: 16px;
 }

 .timetable__column-item:last-of-type {
   padding-bottom: 25px;
 }

 .timetable__column-txt {
   margin: 0;
   color: #394A58;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   max-width: 60%;
 }

 .timetable__column-txt_bold {
   font-weight: 700;
 }

 .timetable__column-arrow {
   display: block;
   width: 24px;
   height: 24px;
   background: url(../images/icon__up.svg) no-repeat center / contain;
   transform: rotate(180deg);
   transition: all .4s ease;
 }

 .timetable__column-arrow_opened {
   transform: rotate(0);
 }

 .timetable__item {
   width: 100%;
   box-sizing: border-box;
   min-height: 193px;
   border-radius: 20px;
   background-color: #fff;
   overflow: hidden;
   margin-bottom: 20px;
 }

 .timetable__top {
   color: #fff;
   background-color: #7F7F7F;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box;
   padding: 8px 54px;
   margin-bottom: 21px;
 }

 .timetable__number {
   color: #fff;
 }

 .timetable__txt {
   color: #fff;
   margin: 4px 0 0;
 }

 .timetable__price {
   font-size: 24px;
   line-height: 30px;
   margin-left: 26px;
 }

 .timetable__trains {
   margin: 0 auto 5px;
   text-align: center;
   color: #EE3523;
   max-width: 90%;
   font-size: 20px;
 }

 .timetable__bottom {
   display: grid;
   gap: 10px;
   grid-template-columns: 140px 1fr 140px;
   grid-template-areas: 'dep cent arr';
   position: relative;
   width: 100%;
   padding: 0 54px;
   box-sizing: border-box;
   justify-content: space-between;
   margin-bottom: 15px;
 }

 .timetable__departure {
   grid-area: dep;
   max-width: 150px;
   align-self: flex-start;
 }

 .timetable__arrival {
   grid-area: arr;
   max-width: 150px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-self: flex-end;
 }

 .timetable__time {
   font-weight: 500;
   font-size: 40px;
   line-height: 49px;
   margin: 0;
 }

 .timetable__city {
   margin: 10px 0 0;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: #394A58;
   text-transform: uppercase;
 }

 .timetable__center {
   grid-area: cent;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .timetable__travel-time {
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
 }

 .timetable__arrow {
   width: 100%;
   border-bottom: 2px solid #394A58;
   margin-top: 10px;
   margin-bottom: 15px;
   position: relative;
 }

 .timetable__arrow::after {
   content: '';
   position: absolute;
   right: 0;
   top: -3px;
   width: 10px;
   border-bottom: 2px solid #394A58;
   transform: rotate(30deg);
 }

 .timetable__arrow::before {
   content: '';
   position: absolute;
   right: 0;
   top: 3px;
   width: 10px;
   border-bottom: 2px solid #394A58;
   transform: rotate(-30deg);
 }

 .timetable__stops-info {
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #7F7F7F;
 }

 @media screen and (max-width: 1023px) {
   .timetable__city {
     font-size: 14px;
   }

   .timetable__booklet {
     flex-direction: column;
     width: 100%;
   }

   .timetable__column {
     width: 100%;
     margin-bottom: 15px;
   }
 }

 @media screen and (max-width: 767px) {
   .timetable__button {
     font-size: 14px;
     line-height: 17px;
     height: 40px;
   }

   .timetable__column-list {
     padding-left: 15px;
     padding-right: 15px;
   }

   .timetable__column-list_opened {
     padding-top: 15px;
     padding-bottom: 15px;
   }

   .timetable__column-item:last-of-type {
     padding-bottom: 10px;
   }

   .timetable__column-txt {
     font-size: 14px;
     line-height: 17px;
   }

   .timetable__top {
     padding-left: 15px;
     padding-right: 15px;
     align-items: flex-end;
   }

   .timetable__info {
     max-width: 127px;
   }

   .timetable__price {
     display: block;
     font-size: 20px;
     line-height: 25px;
     margin-left: 0;
   }

   .timetable__time {
     font-size: 32px;
     line-height: 39px;
   }

   .timetable__travel-time {
     font-size: 14px;
     line-height: 17px;
   }

   .timetable__bottom {
     grid-template-areas:
       'dep arr'
       'cent cent'
     ;
     grid-template-columns: 112px 112px;
     align-items: flex-start;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom: 15px;
   }

   .timetable__departure {
     max-width: 112px;
   }

   .timetable__arrival {
     max-width: 112px;
   }

   .timetable__center {
     bottom: 13px;
   }

   .timetable__trains {
     font-size: 18px;
   }
 }