.timetable__column-arrow {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../../../images/icon__up.svg) no-repeat center / contain;
  transform: rotate(180deg);
  transition: all .4s ease;
}