.timetable__booklet {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  width: 874px;
}

@media screen and (max-width: 1023px) {

  .timetable__booklet {
    flex-direction: column;
    width: 100%;
  }
}