.info__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .info__title {
    font-size: 30px;
    line-height: 37px;
  }
}
