.disclosure__row-heading {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__row-heading:hover .disclosure__row-title {
  text-decoration: underline;
}