.timetable__column {
  width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {

  .timetable__column {
    width: 100%;
    margin-bottom: 15px;
  }
}