.form__label {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 9px;
  cursor: pointer;
  max-width: 295px;
}

@media screen and (max-width: 1439px) {
  .form__label {
    font-size: 18px;
    line-height: 18px;
    max-width: 170px;
  }
}

@media screen and (max-width: 767px) {
  .form__label {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
    max-width: unset;
  }
}