.disclosure__list-3-item-heading {
  width: 92%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.disclosure__list-3-item-heading:hover .disclosure__link {
  text-decoration: underline;
}