.route-table__txt {
  display: block;
  min-width: 126px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #394A58;
  max-width: 60%;
}

@media screen and (max-width: 1023px) {

  .route-table__txt {
    font-size: 14px;
    line-height: 17px;
    min-width: 38px;
    max-width: 45%;
  }
}