.tourist__swiper-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 0 0 99px;
  max-width: 80%;
}

@media screen and (max-width: 1023px) {
  .tourist__swiper-title {
    margin-bottom: 24px;
  }
}